body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    
    font-family: 'Mulish', sans-serif;
}

.contenedor {
    width: 30vw;
    border: 1px solid darkgray;
    -webkit-border-radius: 6px; /*Safari y Chrome*/
    -moz-border-radius: 6px; /*Firefox*/
    -o-border-radius: 6px; /*Opera*/
    -ms-border-radius: 6px; /*IE 8*/
    padding: 2%;
    background-color: #aeddff80;
    margin: 2% auto;
    text-align: center;
}

.item {
    width: 90%;
    margin: auto;
    display: flex;
    padding: 4% 0%;
    flex-direction: column;
}

    .item label {
        text-align: center;
        font-weight: bold;
        margin: 0% 0% 2% 0%
    }

    .item input, .item select {
        padding: 1.5%;
        -webkit-border-radius: 6px; /*Safari y Chrome*/
        -moz-border-radius: 6px; /*Firefox*/
        -o-border-radius: 6px; /*Opera*/
        -ms-border-radius: 6px; /*IE 8*/
    }

    .item textarea {
        padding: 1.5%;
        -webkit-border-radius: 6px; /*Safari y Chrome*/
        -moz-border-radius: 6px; /*Firefox*/
        -o-border-radius: 6px; /*Opera*/
        -ms-border-radius: 6px; /*IE 8*/
        resize: none;
        width: 366px;
        height: 84px;
    }

.contenedor input[type=button] {
    border: 2px solid #0079B3;
    color: white;
    background-color: #0079B3;
    padding: 0.2em 0.5em;
    display: inline;
    cursor: pointer;
    min-width: 10em;
    margin: auto;
}

    .contenedor input[type=button]:hover {
        color: white;
        background-color: #005780;
        outline: none;
    }
